body {
    margin: 0;
}

.container {
    margin: 0;
    background-color: #FFF0F6;
    color: #63565C;
    width: 100vw;
    height: 100vh;
}

main {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the content horizontally */
}

nav {
    color: #63565C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -20px;
}

nav>h2 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: larger;
}

ul > a{
    text-decoration: none; /* Usunięcie podkreślenia */
    color: #63565C; /* Domyślny kolor tekstu */
}

.menu {
    display: flex;
    align-items: center;
}

.account-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 80px;
}

.account-container>.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: 20px;
}

.account-container>.login p {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.account-container>.data-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.account-container>.data-container .element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-container>.data-container .element a {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color: #63565c;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: -40px;
}

.account-container>.data-container .element img {
    margin-bottom: -10px; /* Przesuwa obrazek do góry, aby nachodził na tekst */
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;

}

.navbar-bottom {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF0F6;
    height: 8%;
}

.navbar-bottom>ul {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    gap: 2rem;
    margin-left: 20px;
}

.navbar-bottom>.media {
    margin-right: 40px;
    gap: 5rem;
}

.navbar-bottom>.media-navbar {
    display: none;
}

@media (max-width: 600px) {

    nav {
        display: none;
    }


    main {
        height: 100%;
        width: auto;
    }

    .success-img {
        display: none;
    }

    .success-container {
        height: 80%;
        width: 80%;
        margin: 0;
    }

    .done-button {
        width: 30%;
        margin-top: 0;
    }

    .navbar-bottom>ul {
        display: none;
        /* Ukryj domyślny tekst dla mniejszych ekranów */
    }

    .navbar-bottom>.media {
        display: none;
        /* Ukryj domyślny tekst dla mniejszych ekranów */
    }

    .navbar-bottom>.media-navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        width: inherit;
    }

    .navbar-bottom .media-navbar button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        outline: none;
        /* Usuwa obramowanie po kliknięciu */
    }

    .navbar-bottom .media-navbar button:hover {
        background: none;
        /* Wyłącza podświetlanie po najechaniu */
    }
}