body {
    margin: 0;
}

.container {
    margin: 0;
    background-color: #FFF0F6;
    color: #63565C;
    width: 100vw;
    height: 100vh;
}

main {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the content horizontally */
}

nav {
    color: #63565C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -20px;
}

nav>h2 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: larger;
}

ul > a{
    text-decoration: none; /* Usunięcie podkreślenia */
    color: #63565C; /* Domyślny kolor tekstu */
}

.menu {
    display: flex;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-size: cover;
    /* Ustawia obrazek tła, aby pokrywał cały element */
    background-position: center;
    /* Wyśrodkowanie obrazka tła */
    text-align: center;
    /* Wyśrodkuj tekst */
    height: 10%;
    margin-top: -15px;
}

.quote>h1 {
    font-size: 35px;
    font-weight: 600;
}

.category-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: flex-end;
    margin: auto;
    margin-top: 100px;
}

.cupcakes,
.cakes,
.donuts,
.cookies {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* Zmiana align-items na flex-end */
    flex-direction: column;
}

.cupcakes img,
.cakes img,
.donuts img,
.cookies img {
    width: 100%;
    /* Ustawienie szerokości obrazków na 100% */
    height: auto;
    /* Dostosowanie wysokości proporcjonalnie do szerokości */
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.checkbox p {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
    width: 60%;
    display: flex;
    align-items: center;
}

.checkbox input {
    margin-bottom:15px;
    margin-right: 5px;
}

.next-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #97DFFF;
    color: white;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 10%;
    margin-top: 50px;

}

button:hover {
    background-color: #97DFFF;
}

.navbar-bottom {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF0F6;
    height: 8%;
}

.navbar-bottom>ul {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    gap: 2rem;
    margin-left: 20px;
}

.navbar-bottom>.media {
    margin-right: 40px;
    gap: 5rem;
}

  .navbar-bottom > .media-navbar {
    display: none;
}

@media (max-width: 600px) {

    nav {
        display: none;
    }


    main {
        /* Adjusting margin-top to align content properly */
        height: 90%;
    }

    body {
        margin: 0; /* Usuń marginesy dla body */
        overflow-x: hidden; /* Ukryj przewijanie poziome */
    }

    html, body {
        max-width: 100%; /* Zablokuj maksymalną szerokość */
        overflow-y: auto; /* Pozostaw przewijanie pionowe tylko, jeśli jest to konieczne */
    }

    .quote {
        margin-bottom: 50px;
    }
    /* Ukryj obrazek w sekcji .hello-quote */
    .quote img {
        display: none;
        visibility: hidden;
    }

    .quote > h1 {
        font-size: 30px;
        font-weight: 600;
        margin-top: 200px;

    }

    .category-container {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        overflow-x: auto;
        margin-left: 30px;
        margin-bottom:20px;
    }
    
    .cupcakes,
    .cakes,
    .donuts,
    .cookies {
        min-width: 45%; /* Ustawienie minimalnej szerokości dla elementów */
        flex: 0 0 auto; /* Ustawienie flex na auto, aby elementy nie rozciągały się */
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        gap: 3rem;
    }
    
    .cupcakes img,
    .cakes img,
    .donuts img,
    .cookies img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .cupcakes p,
    .cakes p,
    .donuts p,
    .cookies p {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 400;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .next-button {
        margin-top: 50px;
        width: 30%;
    }

    .navbar-bottom>ul {
        display: none;
        /* Ukryj domyślny tekst dla mniejszych ekranów */
    }

    .navbar-bottom>.media {
        display: none;
        /* Ukryj domyślny tekst dla mniejszych ekranów */
    }

    .navbar-bottom>.media-navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        gap: 2rem;
        width: inherit;
    }

    .navbar-bottom .media-navbar button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        outline: none;
        /* Usuwa obramowanie po kliknięciu */
    }

    .navbar-bottom .media-navbar button:hover {
        background: none;
        /* Wyłącza podświetlanie po najechaniu */
    }
}

@media (min-width: 601px) and (max-width: 1400px){
    .category-container {
        height: 55%;
    }

    .category-container{
        margin-bottom: 0px;
    }
    .next-button{
        margin-top: 5px;
        padding: 8px;
        font-size: 25px;
        font-weight: 600;
        width: 8%;
    }
}