html, body {
  margin: 0;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../public/img/cake_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #63565c;
}

.container {
  text-align: center;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 33%;
  margin-top: 100vh; /* Dostosowano margines, możesz dostosować według preferencji */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}


input {
  margin-bottom: -30px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 7px;
  font-size: 25px;
  width: 100%;
  box-sizing: border-box;
}

p {
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3px;
}

button {
  margin-top: 50px;
  padding: 20px;
  background-color: #fc96bd;
  color: white;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #fc96bd;
}

@media (max-width: 600px) {
  .signUp-container {
    width: 80%;
  }
}
